@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Besmir</h1>
    <p>My ASP.NET CORE Application is gonna be deployed right now!!</p>
</div>
